body {
    background-color: var(--color-background-default);
}

h1 {
    font-family: var(--m3-title-large-font-family);
    font-size: var(--m3-title-large-font-size);
    font-weight: var(--m3-title-large-font-weight);
    line-height: var(--m3-title-large-line-height);
}

#workout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: inherit;
}

h3 {
    text-decoration: underline;
    text-underline-offset: var(--h3-underline-offset);
}

h2, h3, h4, label {
    color: var(--h1-color);
    font-family: var(--m3-title-large-font-family);
    font-weight: var(--m3-title-large-font-weight);
    font-size: var(--m3-title-large-font-size);
    line-height: var(--m3-title-large-line-height);
    letter-spacing: var(--m3-title-large-letter-spacing);
    font-style: var(--m3-title-large-font-style);

}

p {
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    font-size: var(--single-line-body-base-font-size);
    line-height: var(--single-line-body-base-line-height);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    font-style: var(--single-line-body-base-font-style);
    color: var(--p-color);
    margin-left: 20px;
    text-indent: -20px;
  }
  
p span {
    display: inline-block;
    padding-left: 20px;
}
  
button {
    background-color: var(--button-color-red);
    color: var(--p-color);
    padding: var(--button-padding);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--button-font-size);
    margin: var(button-margin);
    cursor: var(--button-cursor-hover);
    border-radius: var(--button-radius);
}

a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./assets/icon/home.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    filter: invert(1);

}